ul {
	margin-top: 5%;
	list-style-type: none;
}

ul li a {
	font-size: 1.5em;
}

ul li {
	margin-bottom: 10px;
}
#rails_projects, #UI_projects{
	width: 500px;
	margin-top: 30px;

}

*{
	font-family: 'Open Sans', sans-serif;
}

.me {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #37B6BE;
	margin-bottom: 50px;
}

.node {

}

.rails {
	margin-top: 10%;
}
.python {
	margin-top: 20%;
}
.me h1 {
	color: white;
	font-size: 6em;
}
.mainrow {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

.left-column{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 5%;
	background-color: #393939;
	height: 100%;
}
.right-column{
	position: fixed;
	width: 5%;
	right: 0px;
	top: 0px;
	background-color: #393939;
	height: 100%;
}

.stuff {
	width: 100%;

	margin: 0px auto;
}

.projects {
	width: 80%;
	margin: 0px auto;
}

.project {
	float: left;
	width: 200px;
	margin-left: 7%;
}

.contact{
	text-align: center;
	position: fixed;
	top: 0px;
	right: 6%;

}

.contact h2 a{
	color: white;
}